.gif-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
}
.gif-item .favorite {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}

.gif-item .favorite:hover {
  color: gold;
}

.gif-item .favorite.active {
  color: gold;
}
.gif-item {
  width: calc(100% / 3 - 1rem);
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.gif-item:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.gif-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif-item button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.gif-item button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Search Bar Styles */
input[type="text"] {
  
  width: 30%;
  height: 2rem;
  margin: 70px 140px 40px 460px;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  
  color: rgb(0, 0, 0);
}

/* Button Styles */
button {
  width: 10%;
  height: 2rem;
  margin: 0px 10px 40px 630px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
}
.nextbutton{
  width: 10%;
  height: 2rem;
  margin: 0px 10px 40px 630px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
#previousbtn{
  width: 10%;
  height: 2rem;
  margin: 0px 10px 40px 630px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;

}